<class-editor-name-field></class-editor-name-field>

<mat-toolbar>
    <span>Atributos</span>
    <span class="toolbar-spacer"></span>
    <button matButton="filled" (click)="addAttribute()">Añadir Atributo</button>
</mat-toolbar>

@for (attribute of attributes(); track attribute) {
<class-editor-attribute-field></class-editor-attribute-field>
}

<mat-toolbar>
    <span>Métodos</span>
    <span class="toolbar-spacer"></span>
    <button matButton="filled" (click)="addMethod()">Añadir Método</button>
</mat-toolbar>

@for (method of methods(); track method) {
<class-editor-method-field></class-editor-method-field>
}
